#navList a{
    color:white;
    
}

.help-text{
    list-style-position: outside;
    list-style-type:square ;
}

#MainCard{
    padding-left: 8%;
}


.navList{
    margin-top:10px;
    margin-left:0px;
    width:250px;
}

.sidebar{
    position: absolute;
    left: 0%;
    z-index: 100;
    opacity: 0.5;
  }

  .left-icon{
    position:absolute;
    right:10%;
  }
  
  .left-icon-text{
    white-space: nowrap;
    font-size: 17px;
    position: absolute;
    top: 43%;
  }