{% extends 'Main/tasks.html' %}
{% block task_page %}
<div class="accordion" id="accordionExample">
    <legend class="border-bottom m-4">
      Tasks
    </legend>
    {% for pk,task in tasks.items %}
        
        <div class="card">
          <div class="card-header" id="heading_{{ forloop.counter }}">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_{{ forloop.counter }}" id="title_btn">
                {{task.title}}
                {% if task.status == "done" %}
                  <i class="fa fa-circle fa-1x mx-4 status-cricle" aria-hidden="true" style="color:green;"></i>
                {% else %}
                  <i class="fa fa-circle fa-1x mx-4 status-cricle" aria-hidden="true" style="color: rgb(223, 226, 27)"></i>
                {% endif %}
              </button>
              <!-- Task Finished Button -->
              <a href="#" class="markTaskFinished" >
                <i class="fa fa-check fa-2x" aria-hidden="true" style="position: absolute;right:2%;" data-title = "{{ task.title }}"></i>
              </a>
              <!-- Task Finished Button -->
                
            <!-- Task Edit Button -->
            <a href="{% url 'edit_tasks' %}?pk={{pk}}" id="editTask">
              <i class="fas fa-edit fa-2x"  style="position: absolute; right:10%;"></i>
            </a>
            <!-- Task Edit Button -->
            </h5>

          </div>
      
          <div id="collapse_{{ forloop.counter }}" class="collapse" data-parent="#accordionExample">
            <div class="card-body">
              {{task.description}}
            </div>
          </div>
        </div>
    {% endfor %}
</div>

{% endblock %}